
@page "/deleteStudentList"
<PageTitle>Student Details</PageTitle>
@using BlazorApp.Models
@using BlazorApp.Data
@inject StudentService StudentService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
<h1 class="colorBlue">Student Details </h1>
<div class="table_detailsemply">
    <table class="employee_table loan_table" width="100%">
        <thead>
            <tr>
                <th class="bg_primary color_white">Student ID</th>
                <th class="bg_primary color_white">StudName</th>
                <th class="bg_primary color_white">StudAge</th>
                <th class="bg_primary color_white">StudEmail</th>
                <th class="bg_primary color_white">StudDepartment</th>
                <th class="bg_primary color_white">Skills</th>
                <th class="bg_primary color_white"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var student in Studlists ?? Enumerable.Empty<BlazorApp.Models.StudentViewAllResult>())
            {
                <tr class="hover-row">
                    <td class="color_primary"><a href="javascript:void(0);">@student.StudentId</a></td>
                    <td class="color_primary"><a href="javascript:void(0);">@student.StudName</a></td>
                    <td class="color_primary"><a href="javascript:void(0);">@student.StudAge</a></td>
                    <td class="color_primary"><a href="javascript:void(0);">@student.StudEmail</a></td>
                    <td class="color_primary"><a href="javascript:void(0);">@student.StudDepartment</a></td>
                    <td class="color_primary"><a href="javascript:void(0);">@student.Skills</a></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" @onclick="@(() => Delete(student.StudentId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




